<a href="https://colab.research.google.com/github/farhadrahimiinfo/Python-Learning/blob/main/MySQLinGoogleColab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MySQL in python

In [10]:
#Preparing the Environment
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)

In [15]:
#Setting Up MySQL on Google Colab
#Although Google Colab doesn’t have MySQL pre-installed, we can set it up with a few commands:
!apt-get -y install mysql-server

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.36-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 35 not upgraded.

In [16]:
!service mysql start

 * Starting MySQL database server mysqld
   ...done.

In [17]:
!mysql -u root

ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)


In [18]:
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';FLUSH PRIVILEGES;"

ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)

In [19]:
#Connect to MySQL
import mysql.connector

# Create a connection to the MySQL server
conn = mysql.connector.connect(user='root', password='root', host='localhost')

# Create a cursor to interact with the MySQL server
cursor = conn.cursor()

In [20]:
# Create a new database named 'library'
cursor.execute("CREATE DATABASE IF NOT EXISTS library")

# Switch to the 'library' database
cursor.execute("USE library")

# Create the 'books' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS User (
    UserId INT AUTO_INCREMENT PRIMARY KEY,
    Name NVARCHAR(255) NOT NULL,
    Family NVARCHAR(255) NOT NULL,
    age INT
)
''')

# Always remember to close the cursor and connection when done
cursor.close()
conn.close()

# Populate Your Database

With our table ready, let’s store some books:

In [22]:
import mysql.connector

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='library')
cursor = conn.cursor()

books_data = [
    ("Farhad", "Rahimi", 37),
    ("Baran", "Rahimi", 10),
    ("Nikan", "Rahimi", 8)
]

# Insert data using the cursor
cursor.executemany('''
INSERT INTO User (Name, Family, age) VALUES (%s, %s, %s)
''', books_data)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

# Fetch Data

In [24]:
import mysql.connector

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='library')
cursor = conn.cursor()

# Execute the SELECT query
cursor.execute("SELECT * FROM User")

# Fetch all the results
records = cursor.fetchall()

# Print the records
for record in records:
    print(record)

# Close the cursor and connection
cursor.close()
conn.close()

(1, 'Farhad', 'Rahimi', 37)
(2, 'Baran', 'Rahimi', 10)
(3, 'Nikan', 'Rahimi', 8)

In [25]:
import  mysql.connector

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='library')
cursor = conn.cursor()
cursor.execute("SELECT * FROM User WHERE age < 12")
classics = cursor.fetchall()

In [26]:
#After your voyage, always remember to dock safely:


cursor.close()
conn.close()