<a href="https://colab.research.google.com/github/farhadrahimiinfo/Python-Learning/blob/main/Part5_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
primes = [2, 3, 5, 7]
primes

[2, 3, 5, 7]

In [5]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [7]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]
hands

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [9]:
my_favourite_things = [32, 'raindrops on roses', help]
my_favourite_things

[32,
 'raindrops on roses',
 Type help() for interactive help, or help(object) for help about object.]

In [10]:
planets[0]

'Mercury'

In [11]:
planets[1]

'Venus'

In [12]:
planets[-1]

'Neptune'

In [13]:
planets[-2]

'Uranus'

In [14]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

In [15]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [16]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [17]:
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [18]:
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

In [19]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [21]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)
# That was silly. Let's give them back their old names
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

['Mur', 'Vee', 'Ur', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [22]:
len(planets)

8

In [23]:
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [24]:
primes = [2, 3, 5, 7]
sum(primes)

17

In [25]:
max(primes)

7

In [27]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c)
print(c.imag)

0
(12+3j)
3.0

In [30]:
x.bit_length()

4

In [31]:
planets.append('Pluto')

In [32]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [33]:
planets.pop()
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [34]:
#Searching lists
#Where does Earth fall in the order of planets? We can get its index using the list.index method.

planets.index('Earth')

2

In [35]:
"Earth" in planets

True

In [36]:
"Calbefraques" in planets

False

In [38]:
#Tuples
#Tuples are almost exactly the same as lists. They differ in just two ways.

t = (1, 2, 3)
t = 1, 2, 3 # equivalent to above
t

(1, 2, 3)

In [48]:
x = 0.125
#For example, the as_integer_ratio() method of float objects returns a numerator and a denominator in the form of a tuple
x.as_integer_ratio()

(1, 8)

In [51]:
#These multiple return values can be individually assigned as follows:
numerator, denominator = x.as_integer_ratio()
print(numerator)
print(denominator)
print(numerator / denominator)

1
8
0.125

In [52]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1